#logo{
    width: 200px;
    display: inline;
}
#titlelink{
    color: rgb(1, 1, 8);
    font-size: 30px;
  display:inline;
  margin-left: 600px;
  margin-top: 20px;
}
#premierlink{
   background-color: black;
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin-top: 10px
}
#accueillink{
    padding: 0.1em;
    
    color: white;

    font-size:x-large
}
#accueillink2{
    padding: 0.1em;
    
    color: white;
}
#accueillink3{
    padding: 0.1em;
    
    color: white;
}
#promoimg{
    width: 100%;
}
#headerlink{
    color: black;
    font-size:xx-large
}
#dernierlink{
    background-color: black;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
}
#link1{
color: white;
}
#link2{
    color: white;
}
#link3{
    color: white;
}
#divlink{
    font-size: larger;
}
